Repository percy-raskova/percybrain: changes, and which pre-commit hooks are due for each by the changed paths.
All: lua-syntax-check, luacheck, stylua-check, plugin-spec-validator, test-standards-validator, debug-code-detector

lua-syntax-check:
  name: Lua Syntax Validation (luac)
  entry: luac -p
  language: system
  description: Fast syntax check using Lua compiler

luacheck:
  name: Luacheck Static Analysis
  entry: luacheck
  language: system
  args:
  - --globals
  - vim
  - --no-color
  - --codes
  description: 'Detects:
  
    - Undefined global variables
  
    - Unused variables and function arguments
  
    - Shadowing of variables
  
    - Unreachable code
  
    '

stylua-check:
  name: StyLua Formatting Check
  entry: stylua
  language: system
  args:
  - --check
  description: Check Lua code formatting (run 'stylua .' to auto-fix)

plugin-spec-validator:
  name: Validate Plugin Specs (lazy.nvim)
  entry: hooks/validate-plugin-spec.lua
  language: script
  description: Ensure plugin files return valid lazy.nvim specs

test-standards-validator:
  name: Test Standards Compliance (6/6)
  entry: hooks/validate-test-standards.lua
  language: script
  description: Enforce PercyBrain test quality standards

debug-code-detector:
  name: Debug Code Detection
  entry: hooks/detect-debug-code.sh
  language: script
  description: Catch leftover debug statements

feat(tests): implement automatic test discovery for all runners
  claudedocs/TEST_REFACTORING_PHASE3_COMPLETE.md
  tests/README.md
  tests/run-all-unit-tests.sh
  tests/run-keymap-tests.sh
  tests/run-unit-tests.sh
Due: none

chore: cleaning up files, reindexing, updating CLAUDE.md for modern index
  .mise.toml
  CLAUDE.md
  PROJECT_INDEX.json
  assets/Essay.png
  assets/FindFiles.png
  assets/FindWord.png
  assets/Fountain.png
  assets/LaTeX.png
  assets/LoadingScreen.png
  assets/Markdown.png
  assets/Org.png
  assets/Zettle.png
Due: none

feat(zettelkasten)!: IWE + Telekasten integration with TDD workflow
  .serena/memories/iwe_telekasten_integration_patterns.md
  .serena/memories/session_2025-10-21_iwe_telekasten_integration_complete.md
  .serena/memories/session_completion_checklist_2025-10-21.md
  claudedocs/IWE_TELEKASTEN_INTEGRATION_2025-10-21.md
  lua/config/keymaps/workflows/iwe.lua
  lua/plugins/lsp/iwe.lua
  lua/plugins/ui/alpha.lua
  lua/plugins/zettelkasten/telekasten.lua
  specs/iwe_telekasten_contract.lua
  tests/capability/trouble/diagnostic_workflow_spec.lua
  tests/capability/zettelkasten/iwe_integration_spec.lua
  tests/contract/iwe_telekasten_contract_spec.lua
  tests/minimal_init.lua
Due: lua-syntax-check, luacheck, stylua-check, plugin-spec-validator, test-standards-validator, debug-code-detector

polish(ui): Alpha dashboard final polish before main merge
  claudedocs/ALPHA_DASHBOARD_POLISH_COMPLETION_2025-10-21.md
  claudedocs/ALPHA_DASHBOARD_POLISH_GAME_PLAN.md
  claudedocs/TEST_REPORT_KEYBINDING_REFACTOR_2025-10-21.md
  docs/.iwe/config.toml
  lua/plugins/academic/vim-pandoc.lua
  lua/plugins/ui/whichkey.lua
  tests/capability/zettelkasten/template_workflow_spec.lua
  tests/contract/zettelkasten_templates_spec.lua
  tests/integration-tests.sh
  tests/run-all-unit-tests.sh
  tests/run-health-tests.sh
  tests/run-integration-tests.sh
  tests/run-keymap-tests.sh
  tests/run-ollama-tests.sh
  tests/run-unit-tests.sh
  tests/simple-test.sh
Due: lua-syntax-check, luacheck, stylua-check, plugin-spec-validator, test-standards-validator, debug-code-detector

feat(ollama): implement auto-start manager with OpenAI compatibility
  .serena/memories/ollama_integration_implementation_2025-10-21.md
  claudedocs/OLLAMA_INTEGRATION_TESTS_2025-10-21.md
  docs/how-to/OLLAMA_INTEGRATION_SETUP.md
  lua/config/init.lua
  lua/config/keymaps/workflows/iwe.lua
  lua/percybrain/gtd/ai.lua
  lua/percybrain/gtd/iwe-bridge.lua
  lua/percybrain/ollama-manager.lua
  lua/plugins/zettelkasten/sembr-integration.lua
  tests/capability/ollama/workflow_spec.lua
  tests/contract/ollama_integration_spec.lua
Due: lua-syntax-check, luacheck, stylua-check, plugin-spec-validator, test-standards-validator, debug-code-detector

test(zettelkasten): refactor tests for IWE-only implementation (RED)
  lua/plugins/zettelkasten/telekasten.lua
  specs/iwe_zettelkasten_contract.lua
  tests/capability/zettelkasten/iwe_integration_spec.lua
  tests/contract/iwe_telekasten_contract_spec.lua
Due: lua-syntax-check, luacheck, stylua-check, plugin-spec-validator, test-standards-validator, debug-code-detector

fix(iwe): configure markdown link format for LSP compatibility
  lua/plugins/lsp/iwe.lua
Due: lua-syntax-check, luacheck, stylua-check, plugin-spec-validator, debug-code-detector

feat(zettelkasten): implement custom IWE-powered workflows
  lua/config/keymaps/workflows/zettelkasten.lua
  lua/config/zettelkasten.lua
Due: lua-syntax-check, luacheck, stylua-check, debug-code-detector

docs(lsp): clarify IWE LSP is managed by iwe.nvim plugin
  lua/plugins/lsp/lspconfig.lua
Due: lua-syntax-check, luacheck, stylua-check, plugin-spec-validator, debug-code-detector

fix(lsp): add safe_setup wrapper to prevent crashes on missing servers
  lua/plugins/lsp/lspconfig.lua
Due: lua-syntax-check, luacheck, stylua-check, plugin-spec-validator, debug-code-detector

refactor(keymaps): reorganize keybinding namespaces for writer-first workflow
  lua/config/keymaps/workflows/hugo.lua
  lua/config/keymaps/workflows/notes.lua
  lua/config/keymaps/workflows/sembr.lua
  lua/config/keymaps/workflows/zettelkasten.lua
Due: lua-syntax-check, luacheck, stylua-check, debug-code-detector

refactor(sembr): centralize keybindings and fix namespace conflicts
  lua/config/init.lua
  lua/plugins/ai-sembr/sembr.lua
  lua/plugins/ui/whichkey.lua
Due: lua-syntax-check, luacheck, stylua-check, plugin-spec-validator, debug-code-detector

refactor(lsp): consolidate configuration and add safe_setup wrapper
  lua/config/zettelkasten.lua
  lua/plugins/lsp/lspconfig.lua
  lua/plugins/lsp/mason-lspconfig.lua
  lua/plugins/lsp/mason.lua
  lua/plugins/lsp/none-ls.lua
  lua/plugins/publishing/hugo.lua
Due: lua-syntax-check, luacheck, stylua-check, plugin-spec-validator, debug-code-detector

chore(plugins): remove obsolete health fixes and experimental plugins
  lua/config/health-fixes.lua
  lua/config/lsp-diagnostic-fix.lua
  lua/config/session-health-fix.lua
  lua/config/treesitter-health-fix.lua
  lua/plugins/academic/vim-pandoc.lua
  lua/plugins/experimental/styledoc.lua
  lua/plugins/init.lua
  lua/plugins/publishing/autopandoc.lua
Due: lua-syntax-check, luacheck, stylua-check, plugin-spec-validator, debug-code-detector

feat(ai): add visual mode keybindings for text transformations
  lua/config/keymaps/workflows/ai.lua
Due: lua-syntax-check, luacheck, stylua-check, debug-code-detector

docs: add session reports and update Serena memories
  .serena/memories/iwe_telekasten_integration_patterns.md
  .serena/memories/lsp_integration_patterns_2025-10-23.md
  .serena/memories/telekasten_iwe_migration_complete_2025-10-22.md
  .serena/memories/visual_mode_zettelkasten_patterns_2025-10-23.md
  LspInfo
  claudedocs/LSP_AUDIT_REFACTORING_REPORT.md
  claudedocs/LSP_INTEGRATION_FIXES_2025-10-23.md
  claudedocs/LSP_REFACTORING_COMPLETE_2025-10-23.md
  lazylog
  lua/config/visual-zettelkasten.lua
Due: lua-syntax-check, luacheck, stylua-check, debug-code-detector

refactor: remove centralized keybinding system, use lazy.nvim native approach
  lua/config/init.lua
  lua/config/keymaps/environment/focus.lua
  lua/config/keymaps/environment/terminal.lua
  lua/config/keymaps/environment/translation.lua
  lua/config/keymaps/init.lua
  lua/config/keymaps/organization/time-tracking.lua
  lua/config/keymaps/system/core.lua
  lua/config/keymaps/system/dashboard.lua
  lua/config/keymaps/tools/diagnostics.lua
  lua/config/keymaps/tools/git.lua
  lua/config/keymaps/tools/lynx.lua
  lua/config/keymaps/tools/navigation.lua
  lua/config/keymaps/tools/telescope.lua
  lua/config/keymaps/tools/window.lua
  lua/config/keymaps/utilities.lua
  lua/config/keymaps/workflows/ai.lua
  lua/config/keymaps/workflows/gtd.lua
  lua/config/keymaps/workflows/hugo.lua
  lua/config/keymaps/workflows/iwe.lua
  lua/config/keymaps/workflows/modes.lua
  lua/config/keymaps/workflows/notes.lua
  lua/config/keymaps/workflows/prose.lua
  lua/config/keymaps/workflows/quick-capture.lua
  lua/config/keymaps/workflows/sembr.lua
  lua/plugins/ai-sembr/sembr.lua
  lua/plugins/ui/whichkey.lua
Due: lua-syntax-check, luacheck, stylua-check, plugin-spec-validator, debug-code-detector

fix: remove remaining keymap require statements from plugins
  lua/plugins/diagnostics/trouble.lua
  lua/plugins/experimental/pendulum.lua
  lua/plugins/navigation/yazi.lua
  lua/plugins/prose-writing/editing/undotree.lua
  lua/plugins/utilities/gtd.lua
  lua/plugins/utilities/mcp-marketplace.lua
  lua/plugins/zettelkasten/img-clip.lua
  lua/plugins/zettelkasten/telescope.lua
Due: lua-syntax-check, luacheck, stylua-check, plugin-spec-validator, debug-code-detector

fix(lsp): resolve ltex_plus naming error and deprecation warnings
  checkhealth
  claudedocs/IWE_CONFIG_CORRECTION_2025-10-23.md
  claudedocs/KEYBINDING_ARCHITECTURE_ANALYSIS_2025-10-23.md
  claudedocs/LSPCONFIG_FIX_2025-10-23.md
  claudedocs/PHASE1_IWE_KEYBINDINGS_ENABLED_2025-10-23.md
  docs/tutorials/IWE_KEYBINDINGS_TESTING_GUIDE.md
  lazylog
  lua/config/options.lua
  lua/plugins/lsp/iwe.lua
  lua/plugins/lsp/lspconfig.lua
  lua/plugins/lsp/mason-lspconfig.lua
  lua/plugins/publishing/markdown-preview.lua
  lua/plugins/publishing/render-markdown.lua
  lua/plugins/ui/bufferline.lua
Due: lua-syntax-check, luacheck, stylua-check, plugin-spec-validator, debug-code-detector

feat(iwe): add command-based lazy loading and comprehensive documentation
  .serena/memories/iwe_configuration_fixes_2025-10-23.md
  docs/explanation/IWE_ARCHITECTURE.md
  docs/how-to/IWE_DAILY_WORKFLOW.md
  docs/reference/IWE_REFERENCE.md
  docs/tutorials/IWE_GETTING_STARTED.md
  lua/plugins/lsp/iwe.lua
Due: lua-syntax-check, luacheck, stylua-check, plugin-spec-validator, debug-code-detector

refactor(keybindings): migrate to plugin-level keys={} architecture
  .serena/memories/issue_16_phase3_completion_2025-10-24.md
  .serena/memories/keymap_architecture_patterns.md
  CLAUDE.md
  claudedocs/ISSUE_COMPLETION_STATUS_2025-10-24.md
  docs/reference/KEYBINDINGS_REFERENCE.md
  gh-issues/issue-15-quartz-publishing-mise-github.md
  gh-issues/issue-16-keybinding-phase3-completion.md
  gh-issues/issue-17-code-quality-luacheck-warnings.md
  gh-issues/issue-18-quartz-custom-plugins.md
  lazylog
  lua/config/init.lua
  lua/config/window-manager.lua
  lua/plugins/ai-sembr/ai-draft.lua
  lua/plugins/ai-sembr/ollama.lua
  lua/plugins/diagnostics/trouble.lua
  lua/plugins/navigation/nvim-tree.lua
  lua/plugins/navigation/smart-splits.lua
  lua/plugins/publishing/hugo.lua
  lua/plugins/publishing/quartz.lua
  lua/plugins/ui/whichkey.lua
  lua/plugins/utilities/auto-save.lua
  lua/plugins/utilities/auto-session.lua
  lua/plugins/utilities/gtd.lua
  lua/plugins/utilities/hologram.lua
  lua/plugins/utilities/kitty-scrollback.lua
  lua/plugins/utilities/toggleterm.lua
  lua/plugins/zettelkasten/sembr-integration.lua
  lua/plugins/zettelkasten/telescope.lua
Due: lua-syntax-check, luacheck, stylua-check, plugin-spec-validator, debug-code-detector

feat(ai): add writing-first workflow with AI formatting and smart link navigation
  lua/config/options.lua
  lua/config/zettelkasten.lua
  lua/lib/zettelkasten-nav.lua
  lua/plugins/ai-sembr/ollama.lua
  lua/plugins/lsp/lspconfig.lua
  lua/plugins/utilities/auto-save.lua
  lua/plugins/utilities/hologram.lua
Due: lua-syntax-check, luacheck, stylua-check, plugin-spec-validator, debug-code-detector

feat(ai): add interactive chat interface with LLM
  lua/plugins/ai-sembr/ollama.lua
Due: lua-syntax-check, luacheck, stylua-check, plugin-spec-validator, debug-code-detector

fix(ai,zettelkasten): resolve chat keybinding and preserve semantic line breaks
  lua/plugins/ai-sembr/ollama.lua
  lua/plugins/ai-sembr/sembr.lua
  lua/plugins/zettelkasten/mkdnflow.lua
Due: lua-syntax-check, luacheck, stylua-check, plugin-spec-validator, debug-code-detector

security: add .mcp.json.backup to .gitignore to prevent token exposure
  .gitignore
Due: none

chore(cleanup): remove OWIWrite files
  .gitCOMMIT_EDITMSG
  config
  package.json
  spell/en.utf-8.add
  spell/en.utf-8.add.spl
Due: none

chore: cleanup old directories
  .gitignore
  after/queries/python/highlights.scm
  specs/iwe_zettelkasten_contract.lua
  specs/percybrain_contract.lua
Due: lua-syntax-check, luacheck, stylua-check, debug-code-detector

chore: cleanup
  .gitignore
Due: none

chore: cleanup files
  .playwright-mcp/page-2025-10-24T02-38-51-471Z.png
  .playwright-mcp/page-2025-10-24T02-39-49-465Z.png
  .playwright-mcp/page-2025-10-24T02-40-22-093Z.png
  .playwright-mcp/quartz-article-current.png
  .playwright-mcp/quartz-home-current.png
  .playwright-mcp/quartz-refined-article.png
  .playwright-mcp/quartz-refined-home.png
Due: none

chore: cleanup more
  2025-10-20-this-session-is-being-continued-from-a-previous-co.txt
  PERCYBRAIN_DESIGN.md
  PERCYBRAIN_SETUP.md
  PERCYBRAIN_SYSTEM_ANALYSIS.md
  TESTING_REDESIGN_SUMMARY.md
  TODO.md
  checkhealth
  lazylog
Due: none

Path conditions:
  lua-syntax-check: any of: \.lua$
  luacheck: any of: \.lua$
  stylua-check: any of: \.lua$
  plugin-spec-validator: any of: ^lua/plugins/.*\.lua$
  test-standards-validator: any of: ^tests/.*_spec\.lua$
  debug-code-detector: any of: \.lua$, but not: ^tests/
