Repository percy-raskova/percybrain: changes, and which pre-commit hooks are due for each by the changed paths.
All: lua-syntax-check, luacheck, stylua-check, plugin-spec-validator, test-standards-validator, debug-code-detector

Path conditions:
  lua-syntax-check: any of: \.lua$
  luacheck: any of: \.lua$
  stylua-check: any of: \.lua$
  plugin-spec-validator: any of: ^lua/plugins/.*\.lua$
  test-standards-validator: any of: ^tests/.*_spec\.lua$
  debug-code-detector: any of: \.lua$, but not: ^tests/

fix(zettelkasten): fix Markdown link parsing and add comprehensive test suite
  hooks/validate-test-standards.lua
  lua/config/zettelkasten.lua
  tests/plenary/unit/zettelkasten/config_spec.lua
  tests/plenary/unit/zettelkasten/link_analysis_spec.lua
  tests/plenary/workflows/zettelkasten_spec.lua
Due: lua-syntax-check, luacheck, stylua-check, test-standards-validator, debug-code-detector

refactor(hooks): scope debug code detector to test files only
  hooks/detect-debug-code.sh
Due: none

docs(serena): Phase 2-3 complete - knowledge extraction and consolidation planning
  .serena/memories/documentation_consolidation_token_optimization_2025-10-19.md
  .serena/memories/percy_development_patterns.md
  .serena/memories/percybrain_documentation.md
  .serena/memories/pre_commit_hook_patterns_2025-10-19.md
  .serena/memories/session_2025-10-19_documentation_consolidation_phase1-3.md
  .serena/memories/test_troubleshooting_session_2025-10-18.md
  License
  claudedocs/DOCUMENTATION_CONSOLIDATION_PLAN.md
Due: none

docs(consolidation): Phase 3a-e complete - directory structure and doc consolidation
  NEURODIVERSITY_OPTIMIZATION_COMPLETE.md
  TROUBLESHOOTING_REPORT.md
  claudedocs/ALPHA_LOGO_FIX.md
  claudedocs/COMPLETE_TEST_COVERAGE_REPORT.md
  claudedocs/COMPLETE_TEST_REFACTORING_REPORT.md
  claudedocs/CONFIG_SPEC_REFACTORING_COMPLETE.md
  claudedocs/CRITICAL_IMPLEMENTATION_COMPLETE.md
  claudedocs/DASHBOARD_TEST_DESIGN_SUMMARY.md
  claudedocs/FORMATTER_SPEC_REFACTOR_COMPLETE.md
  claudedocs/IMPLEMENTATION_COMPLETE.md
  claudedocs/KEYBINDING_REORGANIZATION.md
  claudedocs/MISE_IMPLEMENTATION.md
  claudedocs/OLLAMA_TEST_COVERAGE_REPORT.md
  claudedocs/OPTIONS_SPEC_REFACTORING.md
  claudedocs/PERCYBRAIN_DESIGN.md
  claudedocs/PERCYBRAIN_PHASE1_COMPLETE.md
  claudedocs/PLENARY_IMPLEMENTATION_COMPLETE.md
  claudedocs/PLUGIN_ANALYSIS_REPORT.md
  claudedocs/PRECOMMIT_HOOKS_DESIGN.md
  claudedocs/PRECOMMIT_HOOKS_IMPLEMENTATION.md
  claudedocs/PRECOMMIT_HOOKS_QUICKSTART.md
  claudedocs/REFACTORING_EXECUTIVE_SUMMARY.md
  claudedocs/TESTING_BEST_PRACTICES_REFLECTION.md
  claudedocs/TESTING_FRAMEWORK_REPORT.md
  claudedocs/TESTING_PHILOSOPHY.md
  claudedocs/TESTING_QUICKSTART.md
  claudedocs/TESTING_STRATEGY.md
  claudedocs/TESTING_SUITE.md
  claudedocs/TEST_REFACTORING_COMPLETE.md
  claudedocs/TEST_REFACTORING_SUMMARY.md
  claudedocs/TEST_SUITE_FIX_SUMMARY.md
  claudedocs/UI_UX_IMPLEMENTATION_COMPLETE.md
  claudedocs/UNIT_TEST_COVERAGE_REPORT.md
  docs/development/PRECOMMIT_HOOKS.md
  docs/setup/MCP_CONNECTION_GUIDE.md
  docs/testing/TESTING_GUIDE.md
  docs/testing/TEST_COVERAGE_REPORT.md
  docs/troubleshooting/ERROR_LOGGING_GUIDE.md
Due: none

docs(explanation): Phase 3f-g complete - create Diataxis explanation docs
  AI_TESTING_PROTOCOL.md
  docs/explanation/AI_TESTING_PHILOSOPHY.md
  docs/explanation/COGNITIVE_ARCHITECTURE.md
  docs/explanation/LOCAL_AI_RATIONALE.md
  docs/explanation/NEURODIVERSITY_DESIGN.md
  docs/explanation/WHY_PERCYBRAIN.md
Due: none

docs(archaeology): add git history analysis and documentation gap findings
  claudedocs/GIT_ARCHAEOLOGY_DOCUMENTATION_GAPS.md
Due: none

docs(critical): add 3 tutorial/how-to guides unblocking user adoption
  docs/how-to/AI_USAGE_GUIDE.md
  docs/how-to/ZETTELKASTEN_WORKFLOW.md
  docs/tutorials/GETTING_STARTED.md
Due: none

docs(consolidation): Phase 4 complete - root documentation updates
  CLAUDE.md
  README.md
  claudedocs/DOCUMENTATION_CONSOLIDATION_PLAN.md
Due: none

docs(mise): add Diataxis-compliant Mise documentation
  docs/explanation/MISE_RATIONALE.md
  docs/how-to/MISE_USAGE.md
Due: none

docs: update documentation maps to include Mise docs
  CLAUDE.md
  README.md
Due: none

docs(consolidation): Phase 5 complete - Important Tier + Reference docs
  CLAUDE.md
  README.md
  claudedocs/TROUBLESHOOTING_GUIDE_COMPLETE.md
  docs/how-to/MIGRATION_FROM_OBSIDIAN.md
  docs/reference/KEYBINDINGS_REFERENCE.md
  docs/reference/LSP_REFERENCE.md
  docs/reference/PLUGIN_REFERENCE.md
  docs/troubleshooting/TROUBLESHOOTING_GUIDE.md
Due: none

docs(tutorial): add academic writing tutorial with LaTeX and BibTeX
  CLAUDE.md
  README.md
  docs/tutorials/ACADEMIC_WRITING_TUTORIAL.md
Due: none

docs(tutorial): convert Zettelkasten workflow to Diataxis tutorial + companion how-to
  CLAUDE.md
  README.md
  docs/how-to/ZETTELKASTEN_DAILY_PRACTICE.md
  docs/how-to/ZETTELKASTEN_WORKFLOW.md
  docs/tutorials/ZETTELKASTEN_TUTORIAL.md
Due: none

feat(testing): Kent Beck testing framework + CI/CD installation validation
  .mise.toml
  .mise.toml.backup
  .serena/memories/documentation_consolidation_phase5_tutorials_2025-10-19.md
  CLAUDE.md
  PROJECT_INDEX.json
  PROJECT_INDEX.md
  QUICK_REFERENCE.md
  TESTING_REDESIGN_SUMMARY.md
  claudedocs/TESTING_ANALYSIS_KENT_BECK.md
  claudedocs/TESTING_PHILOSOPHY_KENT_BECK.md
  docs/design/CI_CD_INSTALLATION_VALIDATION.md
  docs/testing/KENT_BECK_TESTING_GUIDE.md
  hooks/validate-test-standards.lua
  lua/config/options.lua
  specs/percybrain_contract.lua
  tests/capability/zettelkasten/note_creation_spec.lua
  tests/ci/test-clean-install.sh
  tests/ci/test-neovim-launch.sh
  tests/contract/percybrain_contract_spec.lua
  tests/helpers/test_framework.lua
  tests/migrate_tests.sh
  tests/minimal_init.lua
  tests/minimal_init_new.lua
  tests/regression/adhd_protections_spec.lua
  tests/watch.sh
Due: lua-syntax-check, luacheck, stylua-check, test-standards-validator, debug-code-detector

test(startup): add smoke tests and fix startup warnings
  .mise.toml
  .serena/memories/kent_beck_framework_completion_2025-10-19.md
  lua/plugins/lsp/lspconfig.lua
  lua/plugins/utilities/gitsigns.lua
  tests/helpers/test_framework.lua
  tests/startup/startup_smoke_spec.lua
Due: lua-syntax-check, luacheck, stylua-check, plugin-spec-validator, test-standards-validator, debug-code-detector

config(cmp): change Tab to accept, Enter for line break
  lua/plugins/completion/nvim-cmp.lua
Due: lua-syntax-check, luacheck, stylua-check, plugin-spec-validator, debug-code-detector

test(zettelkasten): add TDD template system tests - GREEN on first run
  TODO.md
  tests/capability/zettelkasten/template_workflow_spec.lua
  tests/contract/zettelkasten_templates_spec.lua
Due: lua-syntax-check, luacheck, stylua-check, test-standards-validator

docs(todo): add future enhancements and self-sufficiency roadmap
  TODO.md
Due: none

test(hugo): complete TDD cycle for Hugo frontmatter validation
  lua/percybrain/hugo-menu.lua
  tests/capability/hugo/publishing_workflow_spec.lua
  tests/contract/hugo_frontmatter_spec.lua
Due: lua-syntax-check, luacheck, stylua-check, test-standards-validator, debug-code-detector

docs(todo): mark Hugo frontmatter validation complete + add CI/CD requirements
  TODO.md
Due: none

fix(startup): resolve dashboard loading and notification spam issues
  claudedocs/PLUGIN_DOCUMENTATION_PROGRESS.md
  lua/config/init.lua
  lua/config/quiet-startup.lua
  lua/plugins/completion/nvim-cmp.lua
  lua/plugins/lsp/lspconfig.lua
  lua/plugins/navigation/nvim-tree.lua
  lua/plugins/org-mode/nvimorgmode.lua
  lua/plugins/prose-writing/distraction-free/zen-mode.lua
  lua/plugins/prose-writing/editing/vim-pencil.lua
  lua/plugins/prose-writing/grammar/ltex-ls.lua
  lua/plugins/publishing/hugo.lua
  lua/plugins/ui/alpha.lua
  lua/plugins/ui/whichkey.lua
  lua/plugins/utilities/auto-session.lua
  lua/plugins/utilities/lazygit.lua
  lua/plugins/zettelkasten/img-clip.lua
  lua/plugins/zettelkasten/iwe-lsp.lua
  lua/plugins/zettelkasten/telescope.lua
Due: lua-syntax-check, luacheck, stylua-check, plugin-spec-validator, debug-code-detector

docs(plugins): document Priority 1 core workflow plugins (12 plugins)
  claudedocs/PLUGIN_DOCUMENTATION_PROGRESS.md
  claudedocs/PRIORITY_1_COMPLETION_REPORT.md
  lua/plugins/lsp/mason-lspconfig.lua
  lua/plugins/lsp/mason.lua
  lua/plugins/lsp/none-ls.lua
  lua/plugins/prose-writing/editing/nvim-surround.lua
  lua/plugins/prose-writing/editing/undotree.lua
  lua/plugins/prose-writing/editing/vim-repeat.lua
  lua/plugins/prose-writing/editing/vim-textobj-sentence.lua
  lua/plugins/prose-writing/formatting/autopairs.lua
  lua/plugins/prose-writing/formatting/comment.lua
  lua/plugins/utilities/fugitive.lua
  lua/plugins/utilities/gitsigns.lua
  lua/plugins/utilities/toggleterm.lua
Due: lua-syntax-check, luacheck, stylua-check, plugin-spec-validator, debug-code-detector

feat(ai): complete Write-Quit AI Pipeline TDD cycle
  .luacheckrc
  hooks/validate-test-standards.lua
  lua/percybrain/dashboard.lua
  lua/percybrain/network-graph.lua
  lua/percybrain/write-quit-pipeline.lua
  tests/capability/write-quit/pipeline_workflow_spec.lua
  tests/contract/write_quit_pipeline_spec.lua
Due: lua-syntax-check, luacheck, stylua-check, test-standards-validator, debug-code-detector

chore(mise): add test tasks for Write-Quit AI Pipeline and workflow tests
  .mise.toml
Due: none

fix(tests): contract tests now validate specifications, not integrations
  tests/contract/percybrain_contract_spec.lua
  tests/helpers/test_framework.lua
  tests/minimal_init.lua
Due: lua-syntax-check, luacheck, stylua-check, test-standards-validator

test(floating-capture): RED phase - write failing tests for quick capture
  TODO.md
  tests/capability/quick-capture/floating_workflow_spec.lua
  tests/contract/floating_quick_capture_spec.lua
Due: lua-syntax-check, luacheck, stylua-check, test-standards-validator

feat(quick-capture): complete Floating Quick Capture GREEN phase (TDD)
  lua/percybrain/floating-quick-capture.lua
  tests/capability/quick-capture/floating_workflow_spec.lua
Due: lua-syntax-check, luacheck, stylua-check, test-standards-validator, debug-code-detector

docs(todo): mark Floating Quick Capture GREEN phase complete
  TODO.md
Due: none

refactor(quick-capture): complete REFACTOR phase (TDD cycle)
  lua/percybrain/floating-quick-capture.lua
Due: lua-syntax-check, luacheck, stylua-check, debug-code-detector

docs(todo): mark Floating Quick Capture REFACTOR phase complete
  TODO.md
Due: none

fix(trouble): migrate configuration to Trouble.nvim v3 API
  lua/plugins/diagnostics/trouble.lua
Due: lua-syntax-check, luacheck, stylua-check, plugin-spec-validator, debug-code-detector

feat(testing): add integration testing framework for workflow validation
  docs/testing/FAILURE_MODE_CATALOG.md
  docs/testing/INTEGRATION_TESTING_FRAMEWORK.md
  docs/testing/INTEGRATION_TEST_EXECUTION.md
  tests/integration/helpers/async_helpers.lua
  tests/integration/helpers/environment_setup.lua
  tests/integration/helpers/mock_services.lua
  tests/integration/helpers/workflow_builders.lua
  tests/integration/workflows/wiki_creation_spec.lua
  tests/run-integration-tests.sh
Due: lua-syntax-check, luacheck, stylua-check, test-standards-validator

chore: remove the plugins for org mode since we don't use it
  checkhealth
  lua/plugins/org-mode/headlines.lua
  lua/plugins/org-mode/nvimorgmode.lua
  lua/plugins/org-mode/org-bullets.lua
Due: lua-syntax-check, luacheck, stylua-check, plugin-spec-validator, debug-code-detector

feat(ai): add interactive AI model selector for Ollama integration
  lua/percybrain/ai-model-selector.lua
Due: lua-syntax-check, luacheck, stylua-check, debug-code-detector

feat(dashboard): add unified dashboard menu with keybindings
  lua/percybrain/dashboard-menu.lua
  lua/plugins/utilities/percybrain-dashboard.lua
Due: lua-syntax-check, luacheck, stylua-check, plugin-spec-validator, debug-code-detector

fix(health): add comprehensive checkhealth issue fixes
  lua/config/health-fixes.lua
  lua/config/lsp-diagnostic-fix.lua
  lua/config/options.lua
  lua/config/session-health-fix.lua
  lua/config/treesitter-health-fix.lua
Due: lua-syntax-check, luacheck, stylua-check, debug-code-detector

refactor(tests): consolidate test initialization to single source of truth
  claudedocs/PHASE1_TEST_INIT_CONSOLIDATION_COMPLETE.md
  lua/config/keymaps/utilities.lua
  tests/run-all-unit-tests.sh
  tests/run-health-tests.sh
  tests/run-integration-tests.sh
  tests/run-ollama-tests.sh
Due: lua-syntax-check, luacheck, stylua-check, debug-code-detector
